* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: 1.6rem;
  color: #333;
}

body {
  overflow: hidden;
}

.blur {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #f48846;
  filter: blur(100px);
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(45deg, #f48846, #eab28f);
  animation: CircleBounce 1.5s linear;
  animation-iteration-count: infinite;
}

.color--success {
  color: #52c41a;
}

.color--danger {
  color: #ff3448;
}

.color--violet {
  color: #b57bff;
}

@keyframes CircleBounce {
  0% {
    margin-bottom: 0;
  }
  75% {
    margin-bottom: 20px;
  }
  100% {
    margin-bottom: 0;
  }
}

@keyframes CircleBounceBig {
  0% {
    top: -70px;
  }
  75% {
    top: -90px;
  }
  100% {
    top: -70px;
  }
}

@media only screen and (max-width: 1024px) {
  .circle {
    display: none;
  }
}
